<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

   

<main class="ontainer">
<div class="jumbotron">
    
    <center><h1><%= title %> Page</center></h1>
    <center><p>Maria Carissa Navarrete</p></center>
    <center><p>301235466</p></center>
    <html>
    
        <body style="background-color:pink;">
    
            <body>
              
            <center><img src="/img/selfie.png" alt="logo" style: width="150px"; height="150px"></center>
            
              <h2>Introduction</h2>
              <p>Hi, My name is Maria Navarrete from the Philippines. I am a Software Engineering Student
                at Centennial College (Fast Track). This is my 2nd semester and I will be graduating on April 2024.
                My Bachelor's degree is Commerce major in Management Information Systems. I also have a Master's 
                degree in Business Administration major in Management. I am a very hardworking and  passionate person.
                I have 15 years of experience as a Software QA Engineer. I have gained valuable skills and knowledge in 
                software development and quality assurance through out my career. I have experience with both manual and 
                automation testing. I also have experience with programming languanges like Jave, C#, and Kotlin.</p>
                
                <!-- RESUME -->
            <div class="p-5 text-center"><h5><a href="https://docs.google.com/document/d/10Kooe_ZtinWAtRbEetOpRm-IVzVtKqSX/edit?usp=sharing&ouid=113183872512077453207&rtpof=true&sd=true" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Résumé</a></h5></div>


              <h2>Education</h2>
              <p>UNDERGRADUATE: I graduated from St.Scholastica's College in the Philippines with a degree in Commerce Major In Management Information Systems</p>
               <p>GRADUATE: I graduated from Berkeley College in New York USA with a Master's Degree in Business Administration Major in Management</p>

                
              
              

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   