<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    

<main class="ontainer">
<div class="jumbotron">

<center><h1><%= title %> Page</h1></center>
   
    <html>
        <body style="background-color:pink;">
            <main>
                <h2>Welcome Message:</h2>
                <p>Hi! Welcome and thank you for visiting my Personal Portfolio site.</p>
                <p>Explore my pages to learn more about me, my projects and services.</p>
                <a class="nav-link"  href="/about"><i class="fa-solid fa-address-card"></i>
                    <button>About Me</button></a>
                <br><p>Feel free to reach out to me by going to Contact Page.
                <p>Enjoy your stay! :) </p>
                <h2>Mission Statement</h2>
                <p>I am a hardworking, passionate and ambitious person and my mission in life is to
                <p>help anyone in need specially poor children who have no access to proper education</p>
                <p>and nutrition. I want to guide these children achieve their dreams and have a </p>
                <p>brighter future ahead of them.</p>
                </main>
                
         
       

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   