<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

   

<main class="ontainer">
<div class="jumbotron">

<center><h1>Welcome to <%= title %> Page</h1></center>
<body style="background-color:pink;"></body>
    </div>
</main>
<!DOCTYPE html>
<html>
<head>
  <title>My Projects</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }
    
    h1 {
      color: #333;
      font-size: 28px;
      margin: 20px 0;
    }
    
    .project {
      margin-bottom: 40px;
    }
    
    .project img {
      width: 300px;
      height: auto;
    }
    
    .project h2 {
      margin: 10px 0;
    }
    
    .project p {
      color: #050505;
      font-size: 16px;
      line-height: 1.5;
    }
  </style>
</head>
<body>
  
 
  <div class="project">
   
    <h2>Hostology</h2>
    <img src="img/Host.png" alt="Hostology">
    <p>I worked as a QA Project Test Lead with Hostology Project - a web application for event management. My role in this project is to ensure that web and mobile application meets
      the desired quality standards and performs as expected. My primary reponsibility is to identify defects and issues
      before released to the client and end users.</p>
  </div>
  
  <div class="project">
    
    <h2>Mobile Application</h2>
    <img src="img/Mobile.png" alt="Project ">
    <p>In Project 2, I served as a project lead and full-stack developer. I coordinated a team of five developers and oversaw the development process from inception to deployment. The project resulted in a mobile application that received positive user feedback and reached 10,000 downloads within the first month.</p>
  </div>
  
  <div class="project">
    
    <h2>Ecommerce</h2>
    <img src="img/Ecommerce.png" alt="Project 3">
    <p>As the sole developer in Project 3, I created a responsive website for an e-commerce store. I implemented a user-friendly interface, integrated payment gateways, and optimized the site for search engines. The outcome was increased online sales by 40% and improved customer satisfaction.</p>
  </div>
</body>
</html>



      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   