<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    

<main class="ontainer">
<div class="jumbotron">

    <center><h1>Welcome to <%= title %> Page</h1><center>
    </div>
</main>

<html>
    <body style="background-color:pink;">
    
        <!DOCTYPE html>
        <html>
        <head>
          <title>My Services</title>
          <style>
            body {
              font-family: Arial, sans-serif;
              margin: 0;
              padding: 20px;
            }
            
            h1 {
              color: #050505;
            }
            
            h2 {
              color: #050505;
            }
            
            p {
              color: #070707;
              line-height: 1.5;
            }
          </style>
        </head>
        <body>
          
          <div class="services">
   
            <h2>Quality Assurance</h2>
            <img src="img/QA.png" alt="QA">
            <p>My QA service ensures that your software meets the highest quality standards, guaranteeing a seamless user experience and minimizing the risk of defects or issues.</p>
          </div>
          
          <div class="services">
            
            <h2>Automation</h2>
            <img src="img/Automation.png" alt="Automation ">
            <p>My automation service empowers your business by streamlining processes and increasing efficiency through the implementation of automated solutions. By leveraging advanced technologies, we optimize workflows, reduce manual effort, and enhance productivity, enabling you to focus on strategic initiatives and achieve higher levels of success.</p>
          </div>
          
          <div class="service">
            
            <h2>Web Development</h2>
            <img src="img/Web.png" alt="Web">
            <p>My Web development service offers innovative solutions tailored to your needs, combining cutting-edge technologies and industry best practices to create visually stunning, responsive, and highly functional websites that drive your business forward.</p>
          </div>

          <div class="services">
            
            <h2>IT Solutions</h2>
            <img src="img/IT.png" alt="IT">
            <p>My IT solution service provide end-to-end technology solutions that align with your business objectives, ensuring seamless integration, enhanced security, and optimized operations. With our expertise in diverse IT domains, we deliver comprehensive solutions that drive innovation, efficiency, and growth, empowering your organization to thrive in the digital age."</p>
          </div>
        </body>
        </html>
        
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   